# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# SQLite database
database/users.db

# Uploaded/encrypted files
uploads/*



# VS Code settings
.vscode/

.env
database/database_backup.py